<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        .main {
            width: 70%; margin: 15px auto; font-size: 15px; background: #F1ECFF;
        }
        @media screen and (max-width: 800px) {
            .main {
                width: auto; margin: 5px auto; font-size: 15px; background: #F1ECFF;
            }
        }


    </style>
</head>
<div class="main">
    <div style="text-align: center; padding: 5%;">
        <img src="http://www.finestresume.com/assets/logo.png" Style="width: 5%; text-align: center;">
        <span style="font-size: larger;">Ayan
      <span style="color: #5D25E7;">Car</span></span>
    </div>

    <div style="padding: 5%;">
        <p>Hi {{recipient-name}},</p>
        <p>We have received a request to reset the password for your account. No changes have been
            made to your account yet. </p>
        <p> You can reset your password by clicking link below:</p>
        <a href="{{forget-password-link}}">
            <button style="color: white; background: #5D25E7; border-color: #5D25E7;
            border-radius: 5px; font-size: 20px; padding: 2%; margin-bottom: 10px;">
                Reset Password
            </button>
        </a>
        <br><br>
        <p>Or use OTP as {{otp}}</p>
        <p>For security purposes, OTP will expire in {{rentacar.otp_expiry_mints}} minutes.</p>
        <p>If you did not request a new password please let us know immediately through
            <a href="mailto:{{support-email}}">{{support-email}}</a></p>
        <br><br>
        <p>Thanks,</p>
        Ayan Car Support
    </div>
</div>