<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        .main {
            width: 70%; margin: 15px auto; font-size: 15px; background: #F1ECFF;
        }
        @media screen and (max-width: 800px) {
            .main {
                width: auto; margin: 5px auto; font-size: 15px; background: #F1ECFF;
            }
        }
    </style>
</head>
<div class="main">
    <div style="text-align: center; padding: 5%;">
        <img src="http://www.finestresume.com/assets/logo.png" Style="width: 5%; text-align: center;">
        <span style="font-size: larger;">Finest
      <span style="color: #5D25E7;">Resume</span></span>
    </div>

    <div style="padding: 5%;">
        <p>Dear {{recipient-name}}, </p>
        <p>This is to confirm that the password for your account has been successfully changed.</p>
        <p>If you did not change your password
        please contact us through : <a href="mailto:{{support-email}}">{{support-email}}</a> to report
        any unauthorized access to your account.</p>
        <br><br>
        <p>Thanks,</p>
        FinestResume Support
    </div>
</div>