<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        .main {
            width: 70%; margin: 15px auto; font-size: 15px; background: #F1ECFF;
        }
        @media screen and (max-width: 800px) {
            .main {
                width: auto; margin: 5px auto; font-size: 15px; background: #F1ECFF;
            }
        }
    </style>
</head>
<div class="main">
    <div style="text-align: center; padding: 5%;">
        <img src="http://www.finestresume.com/assets/logo.png" Style="width: 5%; text-align: center;">
        <span style="font-size: larger;">Etekhno
      <span style="color: #5D25E7;">Rent</span></span>
    </div>
    <div style="padding: 5%;">
        <p>Hi {{recipient-name}},</p>
        <p>Your account has been successfully created at Etekhno Rent. Please click the button below to verify your account.</p>
        <a href="{{verification-link}}"><button style="color: white; background: #5D25E7; border-color: #5D25E7;
            border-radius: 5px; font-size: 20px; padding: 2%; margin-bottom: 10px;">
            Verify email address
        </button></a>
        <p>Once verified, you can access more features. If you have any problems, please contact us: <a href="mailto:{{support-email}}">{{support-email}}</a></p>
        <br><br>
        <p>Thanks,</p>
        EtekhnoRent Support
    </div>
</div>